EXPO_PUBLIC_API_URL="http://10.167.59.47:4000"
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY="AIzaSyBD4pghZ_13kwOy5rl_CCiJ7Ax8eKnkMIw"
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID="354743358365-m1og3sc037atrevm2ctvrss2oqqhh8vj.apps.googleusercontent.com"